.projects_container {
	position: relative;
	bottom: 200px;
	z-index: 5;
	margin: 90px;
	font-size: 2rem;
}

.projectsGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0;
}