.flex_container {
	display: flex;
	justify-content: space-around;
}

.main_container {
	background-color: #FBF5E0;
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 850px;
}

.main_container main {
	background-color: #FBF5E0;
}

.main_container footer {
	width: 100%;
}

#invisible {
	display: none;
}