.my_nav {
	background-color: #2A2A2A;
	display: flex;
	gap: 44px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 60px;
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; 
}

.my_link {
	color: #FFF;
	width: 156px;
	height: 45px;
	font-weight: normal;
}

.my_link_active {
	font-weight: bold;
	color: #FFF;
}

.hr_active {
	visibility: visible;
}

.hr_not_active {
	visibility: hidden;
}