.my_nav {
	background-color: rgba(159, 1, 2);
	display: flex;
	gap: 65px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 70px;
	width: 850px;
}

.my_link {
	color: #FFF;
	width: 156px;
	height: 45px;
	font-weight: normal;
}

.my_link_active {
	font-weight: bold;
	color: #FFF;
}

.hr_active {
	visibility: visible;
}

.hr_not_active {
	visibility: hidden;
}

@media only screen and (max-width: 400px) {
	.my_nav {
		gap: 15px;
	}
}

